<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description" content="Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today.">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&family=IBM+Plex+Serif:wght@300;400;500;600&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="/style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="/css/font-icons.css">
	<link rel="stylesheet" href="/one-page/css/et-line.css">

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="/one-page/onepage.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>요술캠프</title>

	<style>

		@-webkit-keyframes fadeInUp {
		  from {
			opacity: 0;
			-webkit-transform: translate3d(0, 70px, 0);
			transform: translate3d(0, 70px, 0);
		  }
		}

		@keyframes fadeInUp {
		  from {
			opacity: 0;
			-webkit-transform: translate3d(0, 70px, 0);
			transform: translate3d(0, 70px, 0);
		  }
		}

	</style>

</head>

<body class="stretched side-push-panel">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header border-full-header header-size-custom" data-sticky-shrink="false">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="index.html">
								<img class="logo-default" srcset="one-page/images/canvasone.png, one-page/images/canvasone@2x.png 2x" src="one-page/images/canvasone@2x.png" alt="Canvas Logo">
								<img class="logo-dark" srcset="one-page/images/canvasone-dark.png, one-page/images/canvasone-dark@2x.png 2x" src="one-page/images/canvasone-dark@2x.png" alt="Canvas Logo">
							</a>
						</div><!-- #logo end -->

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">

							<ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#wrapper"><div>Home</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-about"><div>About</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-works"><div>Works</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-services"><div>Services</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-blog"><div>Blog</div></a>
								</li>
								<li class="menu-item">
									<a href="#" class="menu-link" data-href="#section-contact"><div>Contact</div></a>
								</li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element slider-parallax min-vh-100 include-header" style="background: #FFF url('one-page/images/page/yoga/slider-bg.png') no-repeat right top / auto 100%;">
			<div class="slider-inner">
				<div class="container py-5">

					<div class="row align-items-center mt-4 h-100">
						<div class="col-md-6 order-2 order-md-1 my-5 my-md-0 text-center text-md-start">
							<div class="heading-block border-bottom-0 mb-4">
								<h5 class="text-uppercase ls-4 text-black-50 fw-light mb-2" data-animate="fadeInUp" data-delay="100">Health &amp; Meditation&amp; 요술캠프</h5>
								<h2 class="fw-bold text-transform-none" data-animate="fadeInUp" data-delay="200" style="font-size: 48px; letter-spacing: -1px;">Yoga is the perfect opportunity to be curious about who you are.</h2>
							</div>
							<p class="mb-5 lead" data-animate="fadeInUp" data-delay="400" style="line-height: 1.7;">Monotonectally pursue intuitive catalysts for change for extensible materials. Intrinsicly fabricate principle-centered web-readiness with virtual.</p>
							<a href="#" data-scrollto="#section-about" data-offset="70"  data-animate="fadeInUp" data-delay="600" class="button m-0 button-circle button-large text-white" style="background-color: #E25B45;">Get Started <i class="bi-arrow-right"></i></a>
						</div>

						<div class="col-md-6 order-1 order-md-2">
							<img src="one-page/images/page/yoga/yoga.svg" alt="Yoga Image"  data-animate="fadeInUp slow" data-delay="600">
						</div>

					</div>
				</div>
			</div>
		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0">

				<div id="section-about" class="text-center page-section">

					<div class="container">

						<h2 class="mx-auto mb-5 font-body" style="max-width: 700px; font-size: 40px;">A digital web studio creating stunning &amp; engaging online experiences</h2>

						<p class="lead mx-auto mb-5" style="max-width: 800px;">Ford Foundation reduce child mortality fight against oppression refugee disruption pursue these aspirations effect. Free-speech Nelson Mandela change liberal; challenges of our times sustainability institutions.</p>

						<p class="mb-5" style="font-size: 16px;"><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Learn more <i class="uil uil-angle-right-b"></i></a></p>

						<div class="clear"></div>

						<div class="row mt-6 mx-auto" style="max-width: 1000px;">

							<div class="col-md-4 mb-5">

								<div class="team">
									<div class="team-image">
										<img src="one-page/images/team/1.jpg" alt="John Doe">
										<div class="bg-overlay">
											<div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
												<a href="#" class="social-icon bg-transparent h-bg-facebook" title="Facebook">
													<i class="fa-brands fa-facebook-f"></i>
													<i class="fa-brands fa-facebook-f"></i>
												</a>
												<a href="#" class="social-icon bg-transparent h-bg-x-twitter" title="Twitter">
													<i class="fa-brands fa-x-twitter"></i>
													<i class="fa-brands fa-x-twitter"></i>
												</a>
												<a href="#" class="social-icon bg-transparent h-bg-github" title="Github">
													<i class="fa-brands fa-github"></i>
													<i class="fa-brands fa-github"></i>
												</a>
											</div>
											<div class="bg-overlay-bg" data-hover-animate="fadeIn" data-hover-speed="400"></div>
										</div>
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
									</div>
								</div>

							</div>

							<div class="col-md-4 mb-5">

								<div class="team">
									<div class="team-image">
										<img src="one-page/images/team/2.jpg" alt="Josh Clark">
										<div class="bg-overlay">
											<div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
												<a href="#" class="social-icon bg-transparent h-bg-x-twitter" title="Twitter">
													<i class="fa-brands fa-x-twitter"></i>
													<i class="fa-brands fa-x-twitter"></i>
												</a>
												<a href="#" class="social-icon bg-transparent h-bg-linkedin" title="LinkedIn">
													<i class="fa-brands fa-linkedin"></i>
													<i class="fa-brands fa-linkedin"></i>
												</a>
												<a href="#" class="social-icon bg-transparent h-bg-flickr" title="Flickr">
													<i class="fa-brands fa-flickr"></i>
													<i class="fa-brands fa-flickr"></i>
												</a>
											</div>
											<div class="bg-overlay-bg" data-hover-animate="fadeIn" data-hover-speed="400"></div>
										</div>
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>Mary Jane</h4><span>Co-Founder</span></div>
									</div>
								</div>

							</div>

							<div class="col-md-4 mb-5">

								<div class="team">
									<div class="team-image">
										<img src="one-page/images/team/3.jpg" alt="Mary Jane">
										<div class="bg-overlay">
											<div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
												<a href="#" class="social-icon bg-transparent h-bg-x-twitter" title="Twitter">
													<i class="fa-brands fa-x-twitter"></i>
													<i class="fa-brands fa-x-twitter"></i>
												</a>
												<a href="#" class="social-icon bg-transparent h-bg-vimeo" title="Vimeo">
													<i class="fa-brands fa-vimeo-v"></i>
													<i class="fa-brands fa-vimeo-v"></i>
												</a>
												<a href="#" class="social-icon bg-transparent h-bg-instagram" title="Instagram">
													<i class="bi-instagram"></i>
													<i class="bi-instagram"></i>
												</a>
											</div>
											<div class="bg-overlay-bg" data-hover-animate="fadeIn" data-hover-speed="400"></div>
										</div>
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>Josh Clark</h4><span>Sales</span></div>
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

				<div id="section-works" class="page-section pt-0">

					<div class="section m-0">
						<div class="container">
							<div class="mx-auto text-center" style="max-width: 900px;">
								<h2 class="mb-0 fw-light ls-1">We create &amp; craft projects that ooze creativity in every aspect. We try to create a benchmark in everything we do. Take a moment to browse through some of our recent completed work.</h2>
							</div>
						</div>
					</div>

					<!-- Portfolio Items
					============================================= -->
					<div class="portfolio grid-container row g-0">

						<article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="#">
										<img src="one-page/images/portfolio/mixed/1.jpg" alt="Open Imagination">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
											<div class="portfolio-desc p-0 text-center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
												<h3><a href="#">Open Imagination</a></h3>
												<span><a href="#">Media</a>, <a href="#">Icons</a></span>
											</div>
										</div>
										<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="#">
										<img src="one-page/images/portfolio/mixed/2.jpg" alt="Locked Steel Gate">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
											<div class="portfolio-desc p-0 text-center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
												<h3><a href="#">Locked Steel Gate</a></h3>
												<span><a href="#">Illustrations</a></span>
											</div>
										</div>
										<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="#">
										<img src="one-page/images/portfolio/mixed/3.jpg" alt="Mac Sunglasses">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
											<div class="portfolio-desc p-0 text-center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
												<h3><a href="#">Mac Sunglasses</a></h3>
												<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
											</div>
										</div>
										<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="#">
										<img src="one-page/images/portfolio/mixed/4.jpg" alt="Open Imagination">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
											<div class="portfolio-desc p-0 text-center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
												<h3><a href="#">Open Imagination</a></h3>
												<span><a href="#">Media</a>, <a href="#">Icons</a></span>
											</div>
										</div>
										<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="#">
										<img src="one-page/images/portfolio/mixed/5.jpg" alt="Console Activity">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
											<div class="portfolio-desc p-0 text-center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
												<h3><a href="#">Console Activity</a></h3>
												<span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
											</div>
										</div>
										<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="#">
										<img src="one-page/images/portfolio/mixed/6.jpg" alt="Open Imagination">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
											<div class="portfolio-desc p-0 text-center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
												<h3><a href="#">Open Imagination</a></h3>
												<span><a href="#">Media</a>, <a href="#">Icons</a></span>
											</div>
										</div>
										<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="#">
										<img src="one-page/images/portfolio/mixed/7.jpg" alt="Backpack Contents">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
											<div class="portfolio-desc p-0 text-center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutDownSmall" data-hover-speed="350">
												<h3><a href="#">Backpack Contents</a></h3>
												<span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
											</div>
										</div>
										<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
									</div>
								</div>
							</div>
						</article>

					</div><!-- #portfolio end -->

					<div class="mt-5 text-center"><a href="#" class="button button-border button-circle fw-semibold">View More Projects</a></div>

				</div>

				<div id="section-services" class="page-section pt-0">

					<div class="section m-0">
						<div class="container">
							<div class="mx-auto text-center" style="max-width: 900px;">
								<h2 class="mb-0 fw-light ls-1">We enjoy working on the Services &amp; Products we provide as much as you need them. This help us in delivering your Goals easily. Browse through the wide range of services we provide.</h2>
							</div>
						</div>
					</div>

					<div class="row align-items-stretch">

						<div class="col-lg-4 d-none d-md-block" style="background: url('images/services/main-bg.jpg') center center no-repeat; background-size: cover;"></div>
						<div class="col-lg-8">
							<div class="row align-items-stretch grid-border">
								<div class="col-lg-4 col-md-6 col-padding">
									<div class="feature-box fbox-center fbox-dark fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-et-mobile op-gradient-icon"></i></a>
										</div>
										<div class="fbox-content fbox-content-sm">
											<h3>Responsive Framework</h3>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-padding">
									<div class="feature-box fbox-center fbox-dark fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-et-presentation op-gradient-icon"></i></a>
										</div>
										<div class="fbox-content fbox-content-sm">
											<h3>Beautifully Presented</h3>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-padding">
									<div class="feature-box fbox-center fbox-dark fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-et-puzzle op-gradient-icon"></i></a>
										</div>
										<div class="fbox-content fbox-content-sm">
											<h3>Extensively Extendable</h3>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-padding">
									<div class="feature-box fbox-center fbox-dark fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-et-gears op-gradient-icon"></i></a>
										</div>
										<div class="fbox-content fbox-content-sm">
											<h3>Powerfully Customizable</h3>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-padding">
									<div class="feature-box fbox-center fbox-dark fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-et-genius op-gradient-icon"></i></a>
										</div>
										<div class="fbox-content fbox-content-sm">
											<h3>Geniusly Transformable</h3>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-padding">
									<div class="feature-box fbox-center fbox-dark fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-et-hotairballoon op-gradient-icon"></i></a>
										</div>
										<div class="fbox-content fbox-content-sm">
											<h3>Industrial Support</h3>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="section dark m-0">
						<div class="mx-auto text-center" style="max-width: 900px;">
							<h2 class="mb-0 fw-light ls-1">Like Our Services? Get an <a href="#" data-scrollto="#template-contactform" data-offset="140" data-easing="easeInOutExpo" data-speed="1250" class="button button-border button-circle button-light button-large my-0" style="position: relative; top: -3px;">Instant Quote</a></h2>
						</div>
					</div>

					<div class="section parallax scroll-detect m-0 dark" style="padding: 150px 0;">
						<img src="one-page/images/page/testimonials.jpg" class="parallax-bg">

						<div class="container">

							<div class="row justify-content-end">
								<div class="col-md-7">
									<div class="fslider testimonial testimonial-full text-center bg-transparent border-0 shadow-none p-0" data-arrows="false">
										<div class="flexslider">
											<div class="slider-wrap">
												<div class="slide">
													<p class="mb-4 fs-4 fw-light ls-1">Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque vero numquam?</p>
													<h4 class="h5 mb-0 fw-medium">Steve Jobs</h4>
													<small class="text-muted">Apple Inc.</small>
												</div>
												<div class="slide">
													<p class="mb-4 fs-4 fw-light ls-1">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
													<h4 class="h5 mb-0 fw-medium">Collis Ta'eed</h4>
													<small class="text-muted">Envato Inc.</small>
												</div>
												<div class="slide">
													<p class="mb-4 fs-4 fw-light ls-1">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
													<h4 class="h5 mb-0 fw-medium">John Doe</h4>
													<small class="text-muted">XYZ Inc.</small>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<div id="section-blog" class="page-section">

					<h2 class="text-center text-uppercase fw-light ls-3 font-body">Recently From the Blog</h2>

					<div class="section mb-0">
						<div class="container">

							<div class="row posts-md mt-5 col-mb-50 mb-0">

								<div class="entry col-md-6">
									<div class="grid-inner row align-items-center">
										<div class="col-lg-6">
											<div class="entry-image">
												<a href="#"><img src="one-page/images/blog/1.jpg" alt="Paris"></a>
											</div>
										</div>
										<div class="col-lg-6 mt-3 mt-lg-0">
											<span class="before-heading fst-normal">Press &amp; Media</span>
											<div class="entry-title text-transform-none">
												<h3 class="fw-normal"><a href="#">Global Meetup Program is Launching!</a></h3>
											</div>
											<div class="entry-content">
												<a href="#" class="more-link">Read more <i class="uil uil-angle-right-b"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-md-6">
									<div class="grid-inner row align-items-center">
										<div class="col-lg-6">
											<div class="entry-image">
												<a href="#"><img src="one-page/images/blog/2.jpg" alt="Paris"></a>
											</div>
										</div>
										<div class="col-lg-6 mt-3 mt-lg-0">
											<span class="before-heading fst-normal">Inside Scoops</span>
											<div class="entry-title text-transform-none">
												<h3 class="fw-normal"><a href="#">The New YouTube Economy unfolds itself</a></h3>
											</div>
											<div class="entry-content">
												<a href="#" class="more-link">Read more <i class="uil uil-angle-right-b"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-md-6">
									<div class="grid-inner row align-items-center">
										<div class="col-lg-6">
											<div class="entry-image">
												<a href="#"><img src="one-page/images/blog/3.jpg" alt="Paris"></a>
											</div>
										</div>
										<div class="col-lg-6 mt-3 mt-lg-0">
											<span class="before-heading fst-normal">Video Blog</span>
											<div class="entry-title text-transform-none">
												<h3 class="fw-normal"><a href="#">Kicking Off Design Party in Style</a></h3>
											</div>
											<div class="entry-content">
												<a href="#" class="more-link">Read more <i class="uil uil-angle-right-b"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-md-6">
									<div class="grid-inner row align-items-center">
										<div class="col-lg-6">
											<div class="entry-image">
												<a href="#"><img src="one-page/images/blog/4.jpg" alt="Paris"></a>
											</div>
										</div>
										<div class="col-lg-6 mt-3 mt-lg-0">
											<span class="before-heading fst-normal">Inspiration</span>
											<div class="entry-title text-transform-none">
												<h3 class="fw-normal"><a href="#">Top Ten Signs You're a Designer</a></h3>
											</div>
											<div class="entry-content">
												<a href="#" class="more-link">Read more <i class="uil uil-angle-right-b"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

					<div class="container mt-6">

						<div id="oc-clients" class="owl-carousel mt-5 image-carousel carousel-widget" data-margin="80" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">

							<div class="oc-item"><a href="#"><img src="images/clients/1.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/2.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/3.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/4.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/5.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/6.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/7.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/8.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/9.png" alt="Clients"></a></div>
							<div class="oc-item"><a href="#"><img src="images/clients/10.png" alt="Clients"></a></div>

						</div>

					</div>

				</div>

				<div id="section-contact" class="page-section pt-0">

					<div class="row mx-0 mb-6 align-items-stretch">
						<div class="col-lg-8 col-md-6 d-none d-md-block px-0">
							<div class="gmap h-100" data-address="Melbourne, Australia" data-maptype="ROADMAP" data-zoom="14" data-markers='[{ address: "Melbourne, Australia", html: "Melbourne, Australia", icon:{ image: "one-page/images/icons/map-icon-red.png", iconsize: [32, 32], iconanchor: [14,44] } }]' data-styles='[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"labels.text","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":"-100"},{"lightness":"30"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"visibility":"simplified"},{"gamma":"0.00"},{"lightness":"74"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"lightness":"3"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]'></div>
						</div>
						<div class="col-lg-4 col-md-6 bg-contrast-100">
							<div class="col-padding">
								<h3 class="font-body fw-normal ls-1">Our Headquarters</h3>

								<div style="font-size: 16px; line-height: 1.7;">
									<address style="line-height: 1.7;">
										<strong>North America:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>

									<div class="clear mt-4"></div>

									<address style="line-height: 1.7;">
										<strong>Europe:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>

									<div class="clear mt-5"></div>

									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (1) 8547 632521<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> (1) 11 4752 1433<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
								</div>
							</div>
						</div>
					</div>

					<div class="container">

						<div class="mx-auto mt-5" style="max-width: 850px;">

							<div class="form-widget">

								<div class="form-result"></div>

								<form class="row mb-0" id="template-contactform" name="template-contactform" action="include/form.php" method="post">

									<div class="form-process">
										<div class="css3-spinner">
											<div class="css3-spinner-scale-ripple">
												<div></div>
												<div></div>
												<div></div>
											</div>
										</div>
									</div>

									<div class="col-md-6 mb-4">
										<input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="form-control border-form-control required" placeholder="Name">
									</div>
									<div class="col-md-6 mb-4">
										<input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email form-control border-form-control" placeholder="Email Address">
									</div>

									<div class="w-100"></div>

									<div class="col-md-4 mb-4">
										<input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="form-control border-form-control" placeholder="Phone">
									</div>

									<div class="col-md-8 mb-4">
										<input type="text" id="template-contactform-subject" name="subject" value="" class="required form-control border-form-control" placeholder="Subject">
									</div>

									<div class="w-100"></div>

									<div class="col-12 mb-4">
										<textarea class="required form-control border-form-control" id="template-contactform-message" name="template-contactform-message" rows="7" cols="30" placeholder="Your Message"></textarea>
									</div>

									<div class="col-12 text-center mb-4">
										<button class="button button-border button-circle fw-medium ms-0 mt-4" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Message</button>
										<br>
										<small class="d-block mt-3 text-muted">We'll do our best to get back to you within 6-8 working hours.</small>
									</div>

									<div class="w-100"></div>

									<div class="col-12 d-none">
										<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="form-control">
									</div>

									<input type="hidden" name="prefix" value="template-contactform-">

								</form>

							</div>

						</div>

					</div>

				</div>

			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark border-0">

			<div class="container text-center">
				<div class="footer-widgets-wrap">

					<div class="row mx-auto">

						<div class="col-md-4">

							<div class="widget">
								<h4>Site Links</h4>

								<ul class="list-unstyled footer-site-links mb-0">
									<li><a href="#" data-scrollto="#wrapper" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Top</a></li>
									<li><a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">About</a></li>
									<li><a href="#" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Works</a></li>
									<li><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Services</a></li>
									<li><a href="#" data-scrollto="#section-blog" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Blog</a></li>
									<li><a href="#" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Contact</a></li>
								</ul>
							</div>

						</div>

						<div class="col-md-4">

							<div class="widget subscribe-widget" data-loader="button">
								<h4>Subscribe</h4>

								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control input-lg not-dark required email" placeholder="Your Email Address">
									<button class="button button-border button-circle button-light mt-4" type="submit">Subscribe Now</button>
								</form>
							</div>

						</div>

						<div class="col-md-4">

							<div class="widget">
								<h4>Contact</h4>

								<p class="lead">795 Folsom Ave, Suite 600<br>San Francisco, CA 94107</p>

								<div class="d-flex justify-content-center mt-4">
									<a href="#" class="social-icon si-small bg-transparent h-bg-facebook" title="Facebook">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>
									<a href="#" class="social-icon si-small bg-transparent h-bg-x-twitter" title="Twitter">
										<i class="fa-brands fa-x-twitter"></i>
										<i class="fa-brands fa-x-twitter"></i>
									</a>
									<a href="#" class="social-icon si-small bg-transparent h-bg-github" title="Github">
										<i class="fa-brands fa-github"></i>
										<i class="fa-brands fa-github"></i>
									</a>
									<a href="#" class="social-icon si-small bg-transparent h-bg-pinterest" title="Pinterest">
										<i class="fa-brands fa-pinterest-p"></i>
										<i class="fa-brands fa-pinterest-p"></i>
									</a>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>

			<div id="copyrights">
				<div class="container text-center">
					Copyrights Canvas 2020 | All Rights Reserved
				</div>
			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/plugins.min.js"></script>
	<script src="js/functions.bundle.js"></script>

</body>
</html>